/* Adicione estes estilos ao seu arquivo CSS
.image-gallery-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.image-gallery-slide {
  position: relative;
}

.image-gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Ajuste as margens para evitar sobreposição com os controles da galeria 
.image-gallery-content .image-gallery-slide .image-gallery-image {
  margin-bottom: 0;
} */

/* image container */
.image-gallery-wrapper {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 1rem);
}

.custom-gallery {
  height: 100%;
}

.image-gallery-container {
  margin-top: 2rem;
}

.custom-gallery .image-gallery-slide img {
  border-radius: 0.5rem;
}

.custom-gallery .image-gallery-thumbnail {
  border-radius: 0.25rem;
}

.custom-gallery .image-gallery-thumbnail:hover {
  border: 2px solid var(--primary-foreground);
}

.image-gallery-thumbnails-wrapper {
  background: rgba(0, 0, 0, 0.05);
  padding: 0.5rem;
  margin-top: 1rem;
}

.image-gallery-thumbnail {
  width: 100px;
  height: 80px;
  margin: 0 0.25rem;
}
