/* about.module.css */

.aboutSection {
  @apply h-screen py-16 relative z-0 overflow-hidden;
}

.contentContainer {
  @apply flex flex-col md:flex-row items-center gap-8 relative z-10;
}

.imageContainer {
  @apply w-full md:w-1/2 flex justify-center items-center;
}

.profileImage {
  @apply rounded-lg shadow-lg object-contain;
}

.textContainer {
  @apply w-full md:w-2/3 overflow-scroll h-[36rem];
}

/* Estilo da barra de rolagem - Compatível com WebKit */
.textContainer::-webkit-scrollbar {
  height: 0px;
  width: 5px;
  background-color: transparent;
}

.textContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.textContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.textContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.title {
  @apply text-2xl font-bold mb-4;
}

.subtitle {
  @apply text-xl font-bold mb-6;
}

.textContent {
  @apply space-y-4 text-gray-800;
}

.paragraph {
  @apply text-lg font-bold leading-relaxed;
}
