/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilities */
@layer utilities {
  .container-centered {
    @apply flex items-center justify-center;
  }

  .section-padding {
    @apply py-6 px-4 md:py-8 md:px-8;
  }

  .bg-overlay {
    @apply bg-black bg-opacity-50;
  }

  .animate-infinite {
    animation-iteration-count: infinite;
  }
}

/* Componentes */
/* @import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/swiper.css"; */

/* @import "./pages/about.css";
@import "./pages/contact.css"; */

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #2e5597;
    --card: #c4d6ed;
    --card-foreground: #2e5597;
    --btn: #ffbf9e;
    --btn-fg: #2e5597;
    --btn-border: #cf9373;
    --primary: #fff9f5;
    --primary-foreground: #ffbf9e;
    --secondary: #c4d6ed;
    --secondary-foreground: #0d0d0d;
    --muted: #f2f2f2;
    --muted-foreground: #737373;
    --accent: #f2f2f2;
  }
  .dark {
    --background: #001046;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --btn: #c4d6ed;
    --btn-fg: #001046;
    --btn-border: #626b77;
    --primary: #1a2859;
    --primary-foreground: #ffbf9e;
    --secondary: #2a2a2a;
    --secondary-foreground: #fafafa;
    --muted: #2a2a2a;
    --muted-foreground: #a3a3a3;
  }

  * {
    @apply border-border;
  }

  body {
    font-family: var(--font-roboto), sans-serif;
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-foreground;
  }

  h1 {
    @apply text-3xl md:text-4xl;
  }

  h2 {
    @apply text-2xl md:text-3xl;
  }

  h3 {
    @apply text-xl md:text-2xl;
  }

  p {
    @apply text-foreground leading-relaxed;
  }

  a {
    @apply text-primary-foreground hover:text-primary transition-colors;
  }
}
