/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilities */
@layer utilities {
  .bg-overlay {
    @apply bg-black bg-opacity-50;
  }

  .content-container {
    @apply container mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }

  .container-centered {
    @apply flex items-center justify-center;
  }

  .section-padding {
    @apply py-6 px-4 md:py-8 md:px-8;
  }

  .bg-overlay {
    @apply bg-black bg-opacity-50;
  }

  .animate-infinite {
    animation-iteration-count: infinite;
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease forwards;
}

@keyframes softBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animateSoftBounce {
  animation: softBounce 2s ease-in-out infinite;
}

/* Variantes de animação */
.fadeIn-delay-1 {
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
}

.fadeIn-delay-2 {
  animation: fadeIn 1s ease forwards;
  animation-delay: 2s;
}

.fadeIn-delay-3 {
  animation: fadeIn 1s ease forwards;
  animation-delay: 3s;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #2e5597;
    --card: #c4d6ed;
    --card-foreground: #2e5597;
    --btn: #ffbf9e;
    --btn-fg: #2e5597;
    --btn-border: #cf9373;
    --primary: #fff9f5;
    --zap-logo: #25d366;
    --primary-foreground: #ffbf9e;
    --secondary: #c4d6ed;
    --secondary-foreground: #0d0d0d;
    --muted: #f2f2f2;
    --muted-foreground: #737373;
    --accent: #f2f2f2;
  }
  .dark {
    --background: #001046;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --zap-logo: #075e54;
    --popover-foreground: #fafafa;
    --btn: #c4d6ed;
    --btn-fg: #001046;
    --btn-border: #626b77;
    --primary: #1a2859;
    --primary-foreground: #ffbf9e;
    --secondary: #2a2a2a;
    --secondary-foreground: #fafafa;
    --muted: #2a2a2a;
    --muted-foreground: #a3a3a3;
  }

  * {
    @apply border-border;
  }

  body {
    font-family: var(--font-roboto), sans-serif;
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-foreground;
  }

  h1 {
    @apply text-3xl md:text-4xl;
  }

  h2 {
    @apply text-2xl md:text-3xl;
  }

  h3 {
    @apply text-xl md:text-2xl;
  }

  p {
    @apply text-foreground leading-relaxed;
  }

  a {
    @apply text-primary-foreground hover:text-primary transition-colors;
  }

  /* Serviços */
  .home-services-section {
    @apply min-h-screen w-full px-8 py-8 overflow-hidden;
  }
  .home-services-container {
    @apply container mx-auto pr-2 relative z-0;
  }

  .home-services-content {
    @apply relative z-[2];
  }

  .home-services-header h2 {
    @apply text-4xl text-left font-bold mb-4 text-foreground;
  }
  .home-services-header p {
    @apply text-xl text-left max-w-2xl text-foreground;
  }

  .home-services-grid {
    @apply pt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 auto-rows-fr max-h-[calc(100vh-12rem)];
  }
}
