/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #2e5597;
    --card: #c4d6ed;
    --card-foreground: #2e5597;
    --btn: #ffbf9e;
    --btn-fg: #2e5597;
    --btn-border: #cf9373;
    --primary: #fff9f5;
    --primary-foreground: #ffbf9e;
    --secondary: #c4d6ed;
    --secondary-foreground: #0d0d0d;
    --muted: #f2f2f2;
    --muted-foreground: #737373;
    --accent: #f2f2f2;
    --accent-foreground: #0d0d0d;
    --destructive: #e63946;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0a0a0a;
    --chart-1: #f57b48;
    --chart-2: #37b17d;
    --chart-3: #355f8c;
    --chart-4: #fac37e;
    --chart-5: #ffb83f;
    --radius: 0.5rem;
  }
  .dark {
    --background: #001046;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --btn: #c4d6ed;
    --btn-fg: #001046;
    --btn-border: #626b77;
    --primary: #1a2859;
    --primary-foreground: #ffbf9e;
    --secondary: #2a2a2a;
    --secondary-foreground: #fafafa;
    --muted: #2a2a2a;
    --muted-foreground: #a3a3a3;
    --accent: #2a2a2a;
    --accent-foreground: #fafafa;
    --destructive: #99212c;
    --destructive-foreground: #fafafa;
    --border: #2a2a2a;
    --input: #2a2a2a;
    --ring: #d9d9d9;
    --chart-1: #3399ff;
    --chart-2: #29947d;
    --chart-3: #ffae73;
    --chart-4: #bf67e3;
    --chart-5: #ff6fa9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: var(--font-roboto), sans-serif;
    @apply bg-background text-foreground;
  }
}
